<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Flask App for Tasklist</h1>

    <table>
    {% for post in posts %}
    <tr>
        <form method="POST" action="/done/{{post.id}}">
        {% if post.done == 0 %}
            <td><input type="checkbox" name="checkbox-{{post.id}}"></td>
        {% else %}
            <td><input type="checkbox" name="checkbox-{{post.id}}" checked></td>
        {% endif %}

        <button type="submit">変更適用</button>
        
        </form>
        <td>{{ post.date }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.done }}</td>
        <td>{{ post.content }}</td>
        <td><a href="/edit/{{ post.id }}">編集</a></td>
        <td><a href="/delete/{{ post.id }}" onclick="return confirm('この項目を削除します')" type="submit">削除</a></td>
    </tr>
    {% endfor %}
</table>

    <a href="/new">タスクを新規作成</a>
</body>
</html>