<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/create" method="POST">
        <div pa-5>
            <label for="title">ToDo</label>
            <input type="text" name="title" value="" placeholder="次に何をしますか？">
        </div>

        <div pa-5>
            <label for="content">備考</label>
            <textarea name="content" cols="40" rows="10" placeholder="詳細をここに書いてください"></textarea>

        </div>
        <div pa-4>
            <button type="submit">保存</button>
            <button type="button" onclick="history.back()">キャンセル</button>
        </div>
    </form>
</body>

</html>